# IntelliJ IDEA Files
.idea
*.iml
*.ipr
*.iws

# Eclipse Files
.classpath
.project
.settings
.metadata

# Maven Files
target
pom.xml.versionsBackup
atlassian-ide-plugin.xml

# Mac files
.DS_Store

article.xml
